<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
</head>
<body>
    <form action="" method = "POST">
        {% csrf_token %} 
        <lable for="long">longitude</lable>
        <input type="number" id="long" name="long"><br>

        <lable for="lat">latitude</lable>
        <input type="number" id="lat" name="lat"><br>

        <input type="submit" value="submit">
        <!-- <a href='loc/'>
            <button>
                Click Here
            </button>
        </a> -->
    </form>
    
</body>
</html>